<?xml version="1.0"?>
<robot name="simple_robot_step5" xmlns:xacro="http://www.ros.org/wiki/xacro">
 
  <xacro:property name="torso_x" value="0.4"/>
  <xacro:property name="torso_y" value="0.3"/>
  <xacro:property name="torso_z" value="0.6"/>
  <xacro:property name="torso_mass" value="5.0"/>
 
  <xacro:property name="arm_x" value="0.1"/>
  <xacro:property name="arm_y" value="0.1"/>
  <xacro:property name="arm_z" value="0.4"/>
  <xacro:property name="arm_mass" value="1.0"/>
 
  <xacro:property name="camera_x" value="0.12"/>
  <xacro:property name="camera_y" value="0.08"/>
  <xacro:property name="camera_z" value="0.08"/>
  <xacro:property name="camera_mass" value="0.3"/>
 
  <link name="torso_link">
 
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${torso_x} ${torso_y} ${torso_z}"/>
      </geometry>
      <material name="blue">
        <color rgba="0.1 0.3 0.8 1.0"/>
      </material>
    </visual>
 
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${torso_x} ${torso_y} ${torso_z}"/>
      </geometry>
    </collision>
 
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="${torso_mass}"/>
      <inertia
        ixx="0.1875"
        ixy="0.0"
        ixz="0.0"
        iyy="0.2167"
        iyz="0.0"
        izz="0.1042"/>
    </inertial>
 
  </link>
 
  <link name="left_arm_link">
 
    <visual>
      <origin xyz="0 0 -0.2" rpy="0 0 0"/>
      <geometry>
        <box size="${arm_x} ${arm_y} ${arm_z}"/>
      </geometry>
      <material name="green">
        <color rgba="0.1 0.8 0.2 1.0"/>
      </material>
    </visual>
 
    <collision>
      <origin xyz="0 0 -0.2" rpy="0 0 0"/>
      <geometry>
        <box size="${arm_x} ${arm_y} ${arm_z}"/>
      </geometry>
    </collision>
 
    <inertial>
      <origin xyz="0 0 -0.2" rpy="0 0 0"/>
      <mass value="${arm_mass}"/>
      <inertia
        ixx="0.0141667"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0141667"
        iyz="0.0"
        izz="0.0016667"/>
    </inertial>
 
  </link>
 
  <link name="right_arm_link">
 
    <visual>
      <origin xyz="0 0 -0.2" rpy="0 0 0"/>
      <geometry>
        <box size="${arm_x} ${arm_y} ${arm_z}"/>
      </geometry>
      <material name="red">
        <color rgba="0.85 0.15 0.15 1.0"/>
      </material>
    </visual>
 
    <collision>
      <origin xyz="0 0 -0.2" rpy="0 0 0"/>
      <geometry>
        <box size="${arm_x} ${arm_y} ${arm_z}"/>
      </geometry>
    </collision>
 
    <inertial>
      <origin xyz="0 0 -0.2" rpy="0 0 0"/>
      <mass value="${arm_mass}"/>
      <inertia
        ixx="0.0141667"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0141667"
        iyz="0.0"
        izz="0.0016667"/>
    </inertial>
 
  </link>
 
  <link name="camera_link">
 
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${camera_x} ${camera_y} ${camera_z}"/>
      </geometry>
      <material name="black">
        <color rgba="0.1 0.1 0.1 1.0"/>
      </material>
    </visual>
 
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${camera_x} ${camera_y} ${camera_z}"/>
      </geometry>
    </collision>
 
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="${camera_mass}"/>
      <inertia
        ixx="0.00026"
        ixy="0.0"
        ixz="0.0"
        iyy="0.00052"
        iyz="0.0"
        izz="0.00052"/>
    </inertial>
 
  </link>
 
  <joint name="left_shoulder_joint" type="revolute">
    <parent link="torso_link"/>
    <child link="left_arm_link"/>
    <origin xyz="0 0.2 0.2" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.57" upper="1.57" effort="10.0" velocity="1.0"/>
  </joint>
 
  <joint name="right_shoulder_joint" type="revolute">
    <parent link="torso_link"/>
    <child link="right_arm_link"/>
    <origin xyz="0 -0.2 0.2" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.57" upper="1.57" effort="10.0" velocity="1.0"/>
  </joint>
 
  <joint name="camera_joint" type="fixed">
    <parent link="torso_link"/>
    <child link="camera_link"/>
    <origin xyz="0.16 0 0.38" rpy="0 0 0"/>
  </joint>
 
</robot>

